<div
  width="100%"
  style="display:flex; justify-content: center; background-color: rgb(240, 240, 240); padding: 30px 30px;"
>
  <div width="100%" style="width: 100%; padding: 20px 20px; background-color: rgb(255, 255, 255);">
    <div></div>
    <p style="text-align: right; font-size: 0.8rem; color: rgb(156, 156, 156)">λ‚λ§μ μ½”μ¤λ΅ ν•¨κ»
      λ‹¬λ¦¬λ” λ¬λ‹ μ»¤λ®¤λ‹ν‹°</p>
  </div>
  <div
    style="width:100%; border-top: 1px solid rgb(240, 240, 240); border-bottom: 1px solid rgb(240, 240, 240);"
  >
    <h2 style="margin-bottom: 2rem;">λ¨μ„μ΄ μ·¨μ†λμ—μ–΄μ”π¥π¥</h2>
    <div style="width: 100%; display: flex; flex-direction: column; align-items: center;">
      <div style="width: 100%; display: flex; justify-content: space-between;">
        <p style="font-weight: 700;">λ¨μ„ μ λ©</p>
        <p>{{title}}</p>
      </div>
      <div style="width: 100%; display: flex; justify-content: space-between;">
        <p style="font-weight: 700;">μ§‘ν•© μ„μΉ</p>
        <p>{{hName}}</p>
      </div>
      <div style="width: 100%; display: flex; justify-content: space-between;">
        <p style="font-weight: 700;">μ§‘ν•© μΌμ‹</p>
        <p>{{startTime}}</p>
      </div>
      <div style="width: 100%; display: flex; justify-content: space-between;">
        <p style="font-weight: 700;">μ΄κ±°λ¦¬</p>
        <p>{{pathLength}}km</p>
      </div>
    </div>
  </div>
  <div>
    <p style="font-size: 0.8rem; color: rgb(156, 156, 156)">ν–‰λ³µνλ΅ | μ„μΈνΉλ³„μ‹ μ¤‘κµ¬ λ‚¨μ‚°λ™2κ°€
      32-13 303νΈ</p>
  </div>
</div>