<div width="100%"
  style="display:flex; justify-content: center; background-color: rgb(240, 240, 240); padding: 30px 30px;">
  <div width="100%" style="width: 100%; padding: 20px 20px; background-color: rgb(255, 255, 255);">
    <div></div>
    <p style="text-align: right; font-size: 0.8rem; color: rgb(156, 156, 156)">나만의 코스로 함께
      달리는 러닝 커뮤니티</p>
    <div style="width:100%; border-top: 1px solid rgb(240, 240, 240); border-bottom: 1px solid rgb(240, 240, 240);">
      <h2 style="margin-bottom: 2rem;">{{id}}님 가입을 환영합니다.🎉</h2>
      <p style="margin-bottom: 2rem;">
        지금부터 이 계정으로 RunWithMe를 이용하실 수 있어요 :)
      </p>
      <div style="width: 100%; display: flex; justify-content: center;">
        <a href="https://runwithme.co.kr"
          style="background-color: rgb(134, 179, 255); padding: 1rem; font-weight: 700; color: rgb(255, 255, 255); border-radius: 0.5rem; margin-bottom: 2rem; text-decoration: none;">RunWithMe를
          시작해보세요!</a>
      </div>
    </div>
    <div>
      <p style="font-size: 0.8rem; color: rgb(156, 156, 156)">행복회로 | 서울특별시 중구 남산동2가
        32-13 303호</p>
    </div>
  </div>
</div>